.calendar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
  background-color: #0000ff30;
  padding: 1rem;
}

.year-month-toggles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.calendar-days {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.year-toggle, .month-toggle {
  display: flex;
  gap: 1rem;
}