form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input {
  border: 1px solid #000;
  width: 30rem;
  border-radius: 0.25rem;
}

form button {
  border: 1px solid #353588ad;
  border-radius: 0.25rem;
  padding: 0 2rem;
  background-color: #353588ad !important;
}
